name: MacOS VNC Full

on: workflow_dispatch

jobs:
  vnc:
    runs-on: macos-latest
    steps:
      - name: Deploy
        shell: bash
        run: |
          brew install --cask google-chrome
          
          curl -L "https://github.com/ekzhang/bore/releases/download/v0.5.1/bore-v0.5.1-aarch64-apple-darwin.tar.gz" -o bore.tar.gz
          tar -xzf bore.tar.gz
          
          PASSWORD=$(LC_ALL=C tr -dc 'A-Za-z0-9!@#$%^&*()_+' </dev/urandom | head -c 15)
          
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -allowAccessFor -allUsers -privs -all -clientopts -setvnclegacy -vnclegacy yes -setvncpw -vncpw $PASSWORD -restart -agent
          
          ./bore local 5900 --to bore.pub > tunnel.log 2>&1 &
          
          TUNNEL_URL=""
          for i in {1..30}; do
            sleep 2
            if [ -f tunnel.log ]; then
              TUNNEL_URL=$(grep "listening at bore.pub:" tunnel.log | awk '{print $NF}' | tail -1)
              if [ ! -z "$TUNNEL_URL" ]; then
                break
              fi
            fi
          done
          
          if [ -z "$TUNNEL_URL" ]; then exit 1; fi

          echo "==============  топчик  ====================="
          echo "адрес:      $TUNNEL_URL"
          echo "пароль:     $PASSWORD"
          echo "============================================="
          
          echo "::notice title=VNC Access::Host: $TUNNEL_URL | Pass: $PASSWORD"
          
          sleep 21600
